#tribute-info {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#image {
  display: block;
  margin: 0 auto;
  width: 900px;
  padding: 30px;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

#tribute-info > ul {
  display: table;
  margin: 0 auto;
  text-align: justify;
  list-style-type: none;
  line-height: 2em;
  font-size: 1.3em;
}

p {
  text-align: justify;
  line-height: 2em;
  font-size: 1.3em;
}

header {
  display: flex;
  color: #ececec;
  justify-content: space-between;
  background-color: #385170;
  align-items: center;
  border-radius: 10px;
}

header ul {
  list-style-type: none;
  display: flex;
}

header ul li {
  display:block;
  margin-right: 10px;
  font-size: 1.3em;
}

h1 {
  margin-left: 10px;
}

body {
  background-color: #ececec;
}

footer {
  display: flex;
  background-color: #9fd3c7;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
}

footer > p {
  margin: 20px 10px;
}

#img-caption {
  text-align: center;
  margin: 10px;
  font-size: 1.3em;
  color: #ececec;
}

#img-div {
  background-color: #464d5c;
  padding: 10px;
  border-radius: 5px;
}

h2 {
  font-size: 2em;
}

figcaption {
  font-size: 1.3em;
}

blockquote p {
  background: #eee;
  margin-left: 10vw;
  margin-right: 10vw;
}

@media (max-width: 630px) {
  blockquote p {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

ul li a {
  text-decoration: none;
  color: #ececec;
}
